.container {
  background-color: #0d2427;
  width: 100%;
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteudoLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imagem {
  max-width: 400px;
  object-fit: contain;
  width: auto;
  height: auto;
}

.titulo {
  color: #fff;
  text-align: center;
  margin: 28px;
  line-height: 150%;
}

.conteudoInformacoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.caixa {
  background-color: #fafafa;
  padding: 14px 44px;
  border-radius: 4px;
  transition: transform 0.4s;
}

.caixa:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 580px) {
  .imagem {
    max-width: 80%;
  }

  .titulo {
    font-size: 24px;
  }

  .conteudoInformacoes {
    flex-direction: column;
  }

  .caixa {
    width: 80%;
    margin-bottom: 14px;
    text-align: center;
  }
}
